[submodule "vendor/goodix-fp-dump"]
	path = vendor/goodix-fp-dump
	url = https://github.com/goodix-fp-linux-dev/goodix-fp-dump.git
[submodule "vendor/goodix-fp-dump-nikicat"]
	path = vendor/goodix-fp-dump-nikicat
	url = https://github.com/nikicat/goodix-fp-dump.git
	branch = driver-53xc
[submodule "vendor/goodix53x5-libfprint"]
	path = vendor/goodix53x5-libfprint
	url = git@github.com:daemonhorn/goodix53x5-libfprint.git
